.country {
    width: 20dvw;
    /* height: 40vh; */
    padding-bottom: 15px;
    background-color: white;
    color: black;
    border-radius: 15px;
}

a {
    text-decoration: none;
    color: inherit;
    /* حتى ما يتغير لون النص */
}

.country p {
    margin-left: 10px;
}

.country h2 {
    margin-bottom: 10px;
    margin-left: 10px;
}

.atharCountryes {
    /* background-color: #ededed; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-auto-flow: row;
    gap: 50px;
    padding: 0 40px;
}