.searsh {
    height: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.searsh .searchInput{
    width: 450px;
    height: 45px;
    outline: none;
    border: none;
    box-shadow: 5px 4px 9px 1px #c0c0c0;
    font-size: x-large;
    padding-left: 70px;
    color: #a8a8a8;
}

.region {
    width: 180px;
    position: relative;
    background-color: aqua;
}

#delectField{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 83.25%;
    box-shadow: 5px 4px 9px 1px #c0c0c0;
    background-color: white;
    padding: 15px;
    height: 100%;
    margin-bottom: 15px;
}

