.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: white; */
  padding: 25px;
}

.mood {
  width: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}