*{
    font-family: 'Nunito Sans', sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: white; */
  padding: 10px 30px;
}

.mood {
  width: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  transition: all 0.7s ease;
  border-radius: 15px;
  font-weight: 600;
}

.mood:hover{
  background-color: #ddd;
}


.rigth{
  transform: rotate(360deg);
  transition: all .5s ease;
  width: 25px;
  height: 25px;
} 

.left{
  transform: rotate(0deg);
  transition: all .5s ease;
  width: 25px;
  height: 25px;
}